@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-color: rgb(212, 212, 212);
}

body {
  margin: 2vw;
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 1vw;
  border-radius: 15px;
  background-color: white;
  font-family: "Poppins";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 10px black;
}

header img {
  border-radius: 50%;
}

.line {
  border: 1px solid;
  color: rgb(212, 212, 212);
}

h1 {
  font-family: "Courier Prime", monospace;
  font-size: 5vw;
  margin: 4vw; 
  margin-bottom: 1vw;
}

p {
  font-family: "Poppins";
}

a {
  text-decoration: none; 
  color: inherit;
}

footer {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
