@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-color: rgb(212, 212, 212);
}

body {
  margin: 1.5em;
  margin-right: 8em;
  margin-left: 8em;
  padding: 1em;
  padding-top: 0;
  border-radius: 15px;
  background-color: white;
  font-family: "Poppins";
}

main {
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


/*TEXTS*/

h1, h2, h3 {
  font-family: "Courier Prime", monospace;
}

h1 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 0.10rem;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
}

p {
  font-family: "Poppins";
  font-size: 1rem;
  text-indent: 2%;
}

.index-title {
  font-family: inherit;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit; 
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.disclaimer {
  font-size: 0.90rem;
}


/*HEADER*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgb(212, 212, 212) solid 2px;
}

.logo {
  border-radius: 50%;
  display: flex;
  padding: 0.5rem;
}


/*HEADER'S INDEX*/

.hamburger-menu {
  display: none;
}

.index {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.index ul.dropdown-content {
  width: 13rem;
  font-family: inherit;
  list-style-type: none;
  color: rgb(107, 0, 84);
  line-height: 2rem;
  display: none;
  position: absolute;
  right: 0;
  margin-top: 2.50rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgb(138, 138, 138);
}

.index:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.30s;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

menu a:visited {
  color: black;
}


/*FOOTER*/

footer {
  border-top: rgb(212, 212, 212) solid 2px;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}


/*PARADOX SUBPAGES*/

#subpage h2 {
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

h3 {
  font-weight: "regular";
  margin-top: 3rem;
}

#subpage ol {
  font-size: 0.90rem;
}


/*CONTACT PAGE*/

#contact main {
  padding: 0;
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 35px;
  padding-right: 0.5rem;
}

#contact a {
  font-size: 1rem;
}

#contact .social-network {
  letter-spacing: 0.25em;
}


/*ABOUT PAGE*/

#about main {
  padding: 0;
}

#about h1 {
  font-size: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description ul {
  padding: 0;
  letter-spacing: 0.10rem;
  list-style-type: none;
  width: 35em;
}

.description ul li {
  display: flex;
  align-items: center;
  margin: 1em;
}

.description ul img {
  width: 35px;
  padding-right: 0.50rem;
}

.repository {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.repository a {
  letter-spacing: 0.10rem;
  transition: letter-spacing 0.10s ease-in 0.05s;
}

.repository a:hover {
  letter-spacing: 0.20rem;
}

